[phases.setup]
nixPkgs = ['php82', 'php82Packages.composer', 'nginx']

[phases.install]
cmds = ['composer install --optimize-autoloader --no-dev']

[phases.build]
cmds = [
    'php artisan config:cache',
    'php artisan route:cache',
    'php artisan view:cache'
]

[start]
cmd = 'php artisan migrate --force && php -S 0.0.0.0:8000 -t public'
